<h3><%= @user.username %></h3>

<ul>
  <li>
    <label>Contact details: </label>
    <%= @user.email %>
  </li>
  <li>
    <label>Available products: </label>
    <ul>
      <li>Product 1</li>
      <li>Product 2</li>
    </ul>
  </li>
</ul>
