<h1>Create a new product available: </h1>

<form action="/products" method="post">
    <label>Product Name: </label>
    <input type="text" name="name">
    <br><br>

    <label>Quantity: </label>
    <input type="text" name="quantity">
    <br><br>

    <label>Unit: </label>
    <input type="text" name="unit">
    <br><br>

    <input type="submit" value="Save">
</form>
