<h1>Welcome to Local Fruits & Veg</h1>
<h3>The website where you can buy and sell fruits and vegetables from the mneighborhood's gardens</h3>
<div class="container">
  <button><a href="/signup">Sign Up</a></button>
  <button><a href="/login">Log In</a></button>
</div>
