<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Local Fruits & Veg</title>
  </head>
  <body>
    <h1>Local Fruits & Veg</h1>
    <% if logged_in? %>
      <%= "You are logged in as " %><a href="/users/<%= current_user.slug %>"><%= current_user.username %></a>
    <% end %>
    <%= yield %>
  </body>
</html>
