<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Local Fruits & Veg</title>
  </head>
  <body>
    <h1>Local Fruits & Veg</h1>
    <%= yield %>
  </body>
</html>
